<!DOCTYPE html>
<html>

<head>
  <title>Muokkaa ilmoitusta</title>
</head>

<body>
   <h1>Muokkaa ilmoitusta</h1>
  <form action="/update_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ item.title }}" maxlength="50" required />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required >{{ item.description }}</textarea>
    </p>
     <p>
     Hinta: <br />
     <input type="text" name="price" size="8"value="{{ item.price }}"/> €
    </p>
    <p>
    <select name="condition">
        <option value="uusi" {% if item.condition == "uusi" %}selected{% endif %}>Uusi</option>
        <option value="hyvä" {% if item.condition == "hyvä" %}selected{% endif %}>Hyvä</option>
        <option value="kohtalainen" {% if item.condition == "kohtalainen" %}selected{% endif %}>Kohtalainen</option>
      </select>
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}" />
    <input type="submit" value="Päivitä ilmoitusta" />
  </form>
</body>

</html>
