<!DOCTYPE html>
<html lang="fi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uusi ilmoitus</title>
</head>

<body>
  <h1>Uusi ilmoitus</h1>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required />
    </p>
    
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>

    <p>
      Hinta: <br />
      <input type="text" name="price" size="8" pattern="[1-9][0-9]{0,3}" required /> €
      <small>Syötä hinta ilman desimaaleja (esim. 100, 5000).</small>
    </p>
     {% for class in classes %}
     <p>
       {{ class }}: <br />
       <select name="classes">
         <option value=""(valitse)</option>
       {% for option in classes[class] %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
       {% endfor %}
       </select>
      </p>
     {% endfor %}
      <input type="submit" value="Luo ilmoitus" />
    </p>
  </form>

  <p><a href="/">Takaisin</a></p>
</body>

</html>
